$main100: #D1D5FF;
$main400: #4959FF;
$main500: #1B2FFF;
$base0:#FCFCFC;
$base50:#F3F4F7;
$base100:#e3e5ec;
$base200:#99A7B5;
$base300:#677B8F;
$base400:#344F6A;
$base500:#012345;;
$base600: #011C37;
$base900: #00070E;
$secondary400: #F84AB3;
$secondary500: #F71D9F;